body {
  background-color: rgb(43, 43, 43);
  color: #b2b2af;
  font-size: 4vw;
  line-height: 4vw;
  margin: 0;
  padding-left: 6%;
  padding-right: 6%;
}

.bg-wrap {
  position: fixed;
  width: 110%;
  height: 100vh;
  background: url(imgs/logo_bg.png);
  background-repeat: repeat;
  opacity: 0.1;
  left: -25px;
  top: -10px;
}

.bottom {
  top: 50vh;
}

.header {
  text-align: center;
  z-index: 1;
  height: 100vh;
  position: relative;
  padding-top: 0;
}

header {
  margin-top: 8vh;
}

.header-logo {
  width: 70%;
  left: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.scroll-fist {
  position: absolute;
  max-width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.opaque {
  opacity: 0.2;
}

.today {
  margin-top: 0;
}

.today-date {
  width: 100%;
}

.today-date p {
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #f1f6d2;
  font-family: "Cinzel Decorative", cursive;
}

h2 {
  font-family: "Cinzel Decorative", cursive;
}

p {
  font-family: "Raleway", sans-serif;
}

section {
  background-color: rgb(59, 18, 18);
  border-radius: 12px;
  padding: 6%;
  margin-bottom: 5%;
  height: 50vh;
}
